
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1> Профиль </h1>
    <ul>
      {% block form %}
            <div class="container">
              
                <form id="form"> 
                  {% csrf_token %}
                  <h3>Редактирование профиля {{user}}:</h3>

                    <input type="email" name="email_two" value="admin@admin.com" />email_two
                  
                    <input type="text" name="phone"  value="+7912312312" />phone 
                  
                    <input type="text" name="first_name"> first_name
                  
                    <input type="text" name="last_name"> last_name
                    <div class="form-group ">
  
                      <label class="col-sm-2 control-label ">
                        Аватар
                      </label>

                    <div class="col-sm-10">
                      <input name="avatar" type="file" value="">
 
                    </div>
                  </div>
                  
                  <button type="submit"> SEND</button>
                </form>
                 
               <hr>
                <div class="edit__buttons">
                  <a href="{% url 'room-list' %}"><button class="button__back">Back</button></a>
                </div>
              </div>
              {% endblock %} 
          
    </ul>
      
<script>
     
const sendData = async (url, data) => {
      
      const response = await fetch (url, {
        method: 'PUT',
        body: data,
      });

      if (!response.ok) {

        throw new Error(`Ошибка по адресу ${url}, статус ошибки ${response.status}`);
      }
     
      return await response.json();
    };

const sendProfile = () => {
    const profileForm = document.getElementById("form");
   
      profileForm.addEventListener("submit", e => {
        e.preventDefault();

      const formData = new FormData(profileForm);
                
      sendData('http://localhost:8001/update/{{user.id}}/', formData)
      .then(() => {
              profileForm.reset();
      })
       .catch((err) => {
         console.log(err);
       });
            
     });
   };
sendProfile();

</script>
  
</body>
</html>